<h1>Редоктировать курс {{course.title}}</h1>

<form action='/courses/edit' method='POST'>
  <div class='input-field'>
    <input id='title' type='text' name='title' class='validate' required value='{{course.title}}' />
    <label for='title'>Название Кураса</label>
    <span class='helper-text' data-error='Введите название курса'></span>
  </div>
  <div class='input-field'>
    <input
      id='price'
      type='number'
      name='price'
      class='validate'
      required
      value='{{course.price}}'
    />
    <label for='price'>Цена кураса </label>
    <span class='helper-text' data-error='Введите цену курса'></span>
  </div>
  <div class='input-field'>
    <input id='img' type='text' name='img' class='validate' required value='{{course.img}}' />
    <label for='img'>URL картинки </label>
    <span class='helper-text' data-error='Введите URL картинки '></span>
  </div>
  <input type='hidden' name='id' value='{{course.id}}' />
  <button class='btn btn-primary'> Редоктировать курс </button>
</form>